.logout-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.logout-btn:hover {
    background-color: var(--color-main);
    color: rgb(255, 254, 254);
}

.logout-icon {
    font-size: 22px !important;
}

.logout-icon:hover {
    font-size: 22px !important;
    color: #ffffff;
}

.logout-text {
    display: inline-block;
}
